.footer {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  color: #757575;

  &__links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }

  &__links_item {
    display: flex;
    flex-direction: column;

    a {
        margin-bottom: 15px;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
  }

  &__bottom_text {
    margin-top: 20px;
  }
}

.footer_languages {
  color: #333333!important;

  ul li {
    color: #fff;
  }
}
