.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 56px;

  &__items {
    display: flex;
  }

  &__button {
    width: 84px;
    height: 34px;
    background: #e50914;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: #F40612;
    }

    &:active {
      background: #BB0A12;
    }
  }
}
