.modal_footer {
  &__block {
    color: #737373;
    text-align: left;
  }

  &__facebook_link {
    display: flex;
    align-items: center;
    margin-bottom: 13px;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__facebook_icon {
    margin-right: 10px;
  }

  &__sign_up_now {
    strong {
      margin-left: 4px;
      color: #fff;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__main_text {
    margin-top: 14px;

    a {
      color: #0071eb;
      text-decoration: none;
      margin-left: 4px;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
