.languages {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 32px;
  color: #fff;

  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    transform: translate(0, -100%);
    transition: all 0.5s linear;
  }

  ul li {
    border: 0.2px solid #ffffff;
    box-sizing: border-box;
    list-style-type: none;

    &:hover {
      background-color: #1e90ff;
    }
  }

  &__arrow {
    margin-left: 5px;
  }

  &__logo {
    width: 14px;
    margin: 0 5px;
  }

  &__item {
    display: flex;
    align-items: flex-start;
  }

  &__select {
    position: relative;
    width: 94px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #aaaaaa;
    box-sizing: border-box;
    border-radius: 2px;
    overflow: hidden;
    cursor: pointer;

    strong img {
      transition: transform 0.5s linear;
    }

    &__active {
      overflow: visible;

      &::before {
        content: "";
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        bottom: 0;
        cursor: auto;
      }

      strong img {
        transform: rotate(180deg);
        transition: transform 0.5s linear;
      }
    }
  }

  &__dropdown_active {
    transform: translate(0, 100%) !important;
    overflow: visible;
  }
}
