.email_block {
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    position: relative;
    width: 480px;
    height: 70px;
    border: 1px solid #8c8c8c;
    padding-left: 20px;
    box-sizing: border-box;
    border-radius: 2px 0px 0px 2px;

    &::placeholder {
      position: absolute;
      top: 50%;
      left: 20px;
      transform: translateY(-50%);
      font-size: 16px;
      line-height: 20px;

      color: #8c8c8c;
    }
  }

  &__button {
    width: 247px;
    height: 70px;
    box-shadow: 0px 1px 0px rgb(0 0 0 / 45%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e50914;
    border-radius: 0px 2px 2px 0px;

    font-size: 30px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 0.1px;

    &:hover {
      background: #f40612;
    }

    &:active {
      background: #bb0a12;
    }

    img {
      margin-left: 16px;
    }
  }
}
