.app {
  &__top_content {
    width: 100%;
    min-height: 747px;
    background: url("../assets/images/main.svg") no-repeat;
    text-align: center;
  }

  &__signin_modal {
    position: relative;
    width: 314px;
    height: 560px;
    padding: 60px 68px 40px 68px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;

    &__input {
      width: calc(100% - 20px);
      height: 50px;
      background: #333333;
      border-radius: 4px;
      margin-bottom: 14px;
      outline: none;
      border: none;
      padding-left: 20px;

      font-style: normal;
      font-weight: normal;

      &::placeholder {
        position: absolute;
        font-size: 16px;
        line-height: 20px;
        top: 50%;
        left: 20px;
        transform: translate(0, -50%);

        color: #8c8c8c;
      }
    }

    input[type="password"] {
      margin-bottom: 42px;
    }

    &__button {
      width: 100%;
      height: 48px;
      background: #e50914;
      box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.55);
      border-radius: 4px;
    }

    &__close {
      position: absolute;
      right: 20px;
      top: 20px;
      color: #fff;
      cursor: pointer;

      &:hover {
        opacity: 0.7;
      }
    }

    &__bottom_text {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
    }
  }
}

.signin {
  height: 100vh;
  background: url("../assets/images/sigin-bg.svg") no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;

  header {
    width: calc(100% - 112px);
    // padding: 0 56px;
  }
}
