.post_item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 8px solid #222222;
  color: #fff;

  &__content {
    width: 100%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text {
    width: 100%;
    max-width: 595px;
  }
}
