@import './variables.scss';

body {
    font-family: 'Bebas Neue', cursive;
    background-color: $mainBlackColor;
}

.container {
    position: relative;
    max-width: 1920px;
    min-width: 320px;
    margin: 0 auto;
}