.question_block {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 60px 0 70px 0;
  border-top: 8px solid #222222;
  color: #fff;
}
