.question_block_item {
  position: relative;
  width: 100%;
  max-width: 815px;
  margin-bottom: 9px;
  overflow: hidden;

  &__button {
    width: calc(100% - 50px);
    max-width: 815px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #303030;
    border-radius: 0px;
    margin-bottom: 1px;
    padding: 0 20px 0 30px;
  }

  &__image {
    width: 28px;
    height: 28px;
    background: url("../../../../../assets/images/icons/plus.svg") no-repeat
      center;
    transition: all 0.3s linear;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    &__active {
      background: url("../../../../../assets/images/icons/close.svg") no-repeat
        center;
      transform: rotate(180deg);
    }
  }

  &__dropdown_text {
    width: calc(100% - 60px);
    max-width: 815px;
    height: 0;
    background: #303030;
    transition: all 0.3s linear;
    padding: 0 30px;
    overflow: hidden;

    &__inactive {
      height: auto;
      transition: all 0.3s linear;
      padding: 30px 30px;
    }
  }
}
